<footer class="text-center">
        <div class="row">
            <div class="col-lg-3">
                    <h5>Corporate Office-Delhi</h5>
        
        
        <p>1st Floor,  E-41, Panchsheel Park, South Delhi, Delhi, India Pin - 110017 | 9643754311 support@edumonk.org
            </p>
        </div>
        <div class="col-lg-3">
                <h5>Regional Office-Banglore</h5>
    
    
    <p>1/A Church Street,Gyan Jyoti Educational Services,S5 HighProfiles Buissness Centre, M G Road,Banglore,India Pin-560001
        </p>
    </div>
    <div class="col-lg-3">
            <h5>Regional Office-Chennai</h5>
    
    
    <p>80,Manickkam Lane, Mount Road ,Guindy near Zend Garden Hotel Chennai , India Pin -600032
    </p>
    </div>
    <div class="col-lg-3">
        <h5>Regional Office-Pune</h5>
    
    
    <p>LG-13, Ashoka Mall(Opposite Hotel Sun N Sand),Bund Garden Road near Ranka Jeweller,Pune,Maharashtra,India Pin-411001
    </p>
    </div><br><br>
    <h5> Copyright &#169; at EduMonk Foundation
        <a href="https://www.facebook.com/edumonkfoundation/"><i  class="fa fa-facebook"></i></a>
        <a href="https://www.youtube.com/channel/UC5Q6kbXwwZ79aydaoe80R2Q"><i class="fa fa-youtube"></i></a>
        <a href="https://www.instagram.com/edumonk_/?hl=en"><i class="fa fa-instagram"></i></a>
        <a href="https://twitter.com/Edumonk_"><i class="fa fa-twitter"></i></a>
        <a style="background-color:white;color:black" href="privacy-policy.html">Privacy Policy </a>
        &nbsp <a href="terms-condition.html" style="background-color:white;color:black">Terms & Conditions</a>
    </h5>
    
        </div>
    
    </footer>
    