<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx">
<!--<![endif]-->


<!-- Mirrored from 5.189.146.92/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Jun 2018 07:26:32 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <!--====== USEFULL META ======-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dr. Yao Jiani - Aestethic Surgery, Botox, Fillers" />
    <meta name="keywords" content="Dr., Dr, Yao, Jiani, Aestethic, Surgery, Botox, Fillers, Business" />

    <!--====== TITLE TAG ======-->
    <title>Scholar Credits</title>

    <!--====== FAVICON ICON =======-->
    <link rel="shortcut icon" href="assests/img/sclogo.png" />     

    <!--====== STYLESHEETS ======-->
    <link href="assests/css/plugins.css" rel="stylesheet">
    <link href="assests/css/theme.css" rel="stylesheet">
    <link href="assests/css/icons.css" rel="stylesheet">

    <!--====== MAIN STYLESHEETS ======-->
    <link href="css/style.css" rel="stylesheet">
    <link href="assests/css/responsive.css" rel="stylesheet">

    <script src="assests/js/vendor/modernizr-2.8.3.min.js"></script>
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
        @media only screen and (max-width: 800px) {
    .logo {
        width : 22% !important;
        height : 50px;
    }
}
        </style>
</head>

<body data-spy="scroll" data-target=".mainmenu-area" data-offset="90">

    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--- PRELOADER -->
    <div class="preeloader">
        <div class="preloader-spinner"></div>
    </div>

    <!--SCROLL TO TOP-->
    <a href="#scroolup" class="scrolltotop"><i class="fa fa-long-arrow-up"></i></a>

    <!--START TOP AREA-->
    <header class="top-area" id="home">
        <div class="header-top-area" id="scroolup">
            <!--MAINMENU AREA-->
            <div class="mainmenu-area" id="mainmenu-area">
                <div class="mainmenu-area-bg"></div>
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-header">
                            <a href="#home" class="navbar-brand"><img src="assests/img/sclogo.png" class="logo" width="40" height="40"   alt="logo"></a>
                        </div>
                        <div id="main-nav" class="stellarnav">
                            <ul id="nav" class="nav navbar-nav pull-right">
                                <li class="active"><a href="#home">Home</a></li>
                                <li><a href="/dashboard">Student's Dashboard</a></li>
                                <li><a href="/Sdashboard">Startup's Dashboard</a></li>
                                <!-- <li><a href="#features">Features</a></li> -->
                                <li><a href="#challenges">Challenges</a></li>
                                <!-- <li><a href="#testmonial">Testmonial</a></li>
                                <li><a href="#blog">Blog</a></li>
                                <li><a href="#faqs">Faqs</a></li> -->
                                <li><a href="#contact">Contact</a></li> 
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!--END MAINMENU AREA END-->
        </div>

        <!--WELCOME SLIDER AREA-->
        <div class="welcome-slider-area white font16">
            <div class="welcome-single-slide">
                <div class="slide-bg-one slide-bg-overlay"></div>
                <div class="welcome-area">
                    <div class="container">
                        <div class="row flex-v-center">
                            <div class="col-md-8 col-lg-7 col-sm-12 col-xs-12">
                                <div class="welcome-text">
                                    <h1>Develop a passion for learning new things.</h1>
                                    <p>Solve skill based challenges to get industry exposure and build your talent brand by getting your intelligence benchmarked</p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="welcome-single-slide">
                <div class="slide-bg-two slide-bg-overlay"></div>
                <div class="welcome-area">
                    <div class="container">
                        <div class="row flex-v-center">
                            <div class="col-md-8 col-lg-7 col-sm-12 col-xs-12">
                                <div class="welcome-text">
                                    <h1>Host a challenge to offer Learning & Earning opportunities for all</h1>
                                    <p>Create a challenge today to offer a learning or earning opportunity to students & professionals worldwide </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="welcome-single-slide">
                <div class="slide-bg-three slide-bg-overlay"></div>
                <div class="welcome-area">
                    <div class="container">
                        <div class="row flex-v-center">
                            <div class="col-md-8 col-lg-7 col-sm-12 col-xs-12">
                                <div class="welcome-text">
                                    <h1>Offer Scholarships/Financial Aid to students for Higher Studies</h1>
                                    <p>Colleges & Universities specialized in Higher Education can offer different scholarships/financial aid options to students worldwide by discovering their unique talent through Intelligence Discovery Cards</p>
                                    <div class="home-button">
                                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--WELCOME SLIDER AREA END-->
    </header>
    <!--END TOP AREA-->

    <!--FEATURES TOP AREA-->
    <section class="features-top-area" id="features">
        <div class="container">
            <div class="row promo-content">
                <h2 style="text-align: center">For ICO Projects/Startups</h2>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box mb20 xs-mb0 wow fadeInUp padding30" data-wow-delay="0.1s">
                        <div class="box-icon features-box-icon">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <h3 class="box-title">List Your ICO</h3>
                        <p>Get your ICO listed to get exposure among our worldwide community of content writers ,video makers , translators , social media marketers.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb20 xs-mb0  wow fadeInUp padding30" data-wow-delay="0.2s">
                        <div class="box-icon features-box-icon">
                            <i class="icofont icofont-business-man-alt-1"></i>
                        </div>
                        <h3 class="box-title">Host Bounty Challenges </h3>
                        <p>Host challenges for your bounty campaigns & let our community engage and work with you in completing those challenges for you. </p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb20 xs-mb0 wow fadeInUp padding30" data-wow-delay="0.3s">
                        <div class="box-icon features-box-icon">
                            <i class="fa fa-rocket"></i>
                        </div>
                        <h3 class="box-title">Issue Badges & Rewards</h3>
                        <p>Issue different badges and Reward Tokens for the completed challenges on the basis of quality of submissions. </p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb20 xs-mb0 wow fadeInUp padding30 visible-sm" data-wow-delay="0.4s">
                        <div class="box-icon features-box-icon">
                            <i class="fa fa-cog"></i>
                        </div>
                        <h3 class="box-title">Quality Service</h3>
                        <p>A Google Docs scam that appears to be widespread began landing in Wednesday in what seemed to be a phishing attack.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br><br><br><br>
     <section class="features-top-area" id="features">
            <div class="container">
                <div class="row promo-content">
                    <h2 style="text-align: center">For Bounty Hunters</h2>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <div class="text-icon-box mb20 xs-mb0 wow fadeInUp padding30" data-wow-delay="0.1s">
                            <div class="box-icon features-box-icon">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                            <h3 class="box-title">Solve Challenges</h3>
                            <p>Browse through different kinds of challenges hosted on the platform & solve the ones according to your skills and qualifications.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <div class="text-icon-box relative mb20 xs-mb0  wow fadeInUp padding30" data-wow-delay="0.2s">
                            <div class="box-icon features-box-icon">
                                <i class="icofont icofont-business-man-alt-1"></i>
                            </div>
                            <h3 class="box-title"> Submit Solutions </h3>
                            <p>Submit the solutions according to the given time frame to get it reviewed & evaluated by the bounty reviewers. </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <div class="text-icon-box relative mb20 xs-mb0 wow fadeInUp padding30" data-wow-delay="0.3s">
                            <div class="box-icon features-box-icon">
                                <i class="fa fa-rocket"></i>
                            </div>
                            <h3 class="box-title">Earn Badges & Rewards</h3>
                            <p>Get badges and reward tokens for your submitted solution after review and quality check by the bounty reviewers. </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <div class="text-icon-box relative mb20 xs-mb0 wow fadeInUp padding30 visible-sm" data-wow-delay="0.4s">
                            <div class="box-icon features-box-icon">
                                <i class="fa fa-cog"></i>
                            </div>
                            <h3 class="box-title">Quality Service</h3>
                            <p>A Google Docs scam that appears to be widespread began landing in Wednesday in what seemed to be a phishing attack.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--
        <br><br><br><br><br>
        <section class="features-top-area" id="features">
            <div class="container">
                <div class="row promo-content">
                    <h2 style="text-align: center">For Colleges & Universities</h2>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <div class="text-icon-box mb20 xs-mb0 wow fadeInUp padding30" data-wow-delay="0.1s">
                            <div class="box-icon features-box-icon">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                            <h3 class="box-title">Create Scholarship Challenges</h3>
                            <p> Colleges & Universities can promote themselves by hosting specific scholarship/financial aid programs for intelligent and deserving students on the platform which can increase their worldwide reach  </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <div class="text-icon-box relative mb20 xs-mb0  wow fadeInUp padding30" data-wow-delay="0.2s">
                            <div class="box-icon features-box-icon">
                                <i class="icofont icofont-business-man-alt-1"></i>
                            </div>
                            <h3 class="box-title"> Review Submissions </h3>
                            <p> After getting the submissions on the challenges, the solutions can be reviewed by the universities and community members alike and they can give remarks in the form of POI Ratings</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <div class="text-icon-box relative mb20 xs-mb0 wow fadeInUp padding30" data-wow-delay="0.3s">
                            <div class="box-icon features-box-icon">
                                <i class="fa fa-rocket"></i>
                            </div>
                            <h3 class="box-title">Disburse Scholarships/Financial Aid</h3>
                            <p> Scholarships or Financial Aid in the form of Scholar Credits or Cash are awarded to the students on the basis of their performance in the respective challenge  </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <div class="text-icon-box relative mb20 xs-mb0 wow fadeInUp padding30 visible-sm" data-wow-delay="0.4s">
                            <div class="box-icon features-box-icon">
                                <i class="fa fa-cog"></i>
                            </div>
                            <h3 class="box-title">Quality Service</h3>
                            <p>A Google Docs scam that appears to be widespread began landing in Wednesday in what seemed to be a phishing attack.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
    <!--FEATURES TOP AREA END-->

    <!--ABOUT TOP CONTENT AREA-->
    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="text-center wow fadeIn">
                        <h2 class="xs-font20">Bounty Badges is trusted by 20,000+ people for finding Learning & Earning Opportunities</h2>
                        <p> We bring together a very exciting credit ecosystem for mapping education & employment opportunities in a way never imagined before. Our state of the art Proof-Of-Intelligence infrastructure allows employers to benchmark talent by hosting challenges, universities in promoting their courses by offering financial aid/scholarships and students & professionals in building their talent brand on a global scale</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--ABOUT TOP CONTENT AREA END-->

    <!--FUN FACT AREA AREA-->
    <section class="fun-fact-area center white relative padding-100-70" id="fact">
        <div class="area-bg" data-stellar-background-ratio="0.6"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-fun-fact mb30 wow fadeInUp" data-wow-delay="0.1s">
                        <h3 class="font60 xs-font26"><span class="counter">10</span>k+</h3>
                        <p class="font600">Students & Professionals</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-fun-fact mb30 wow fadeInUp" data-wow-delay="0.2s">
                        <h3 class="font60 xs-font26"><span class="counter">100</span>+</h3>
                        <p class="font600">ICO Projects</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-fun-fact mb30 wow fadeInUp" data-wow-delay="0.3s">
                        <h3 class="font60 xs-font26"><span class="counter">1000</span>+</h3>
                        <p class="font600">Challenges</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-fun-fact mb30 wow fadeInUp" data-wow-delay="0.4s">
                        <h3 class="font60 xs-font26"><span class="counter">1000000</span>$</h3>
                        <p class="font600">Rewards & Prizes</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--FUN FACT AREA AREA END-->

    <!--COURSE AREA-->
    <section class="course-area padding-top" id="challenges">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2 class="xs-font26">CHALLENGES</h2>
                    </div>
                </div>
            </div>
            <div class="row course-list">
                <% Challenge.forEach((challenges)=>{ %>
               <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-course mb20">
                        <!-- <img src="assests/img/course/blog-1.jpg" alt=""> -->
                        <% if(challenges.Category == 'A'){ %>
                            <img  src="categories/marketing.png" style="width:300px;height:300px; !important;"  alt="">
                            <% } else if(challenges.Category == 'B') { %>
                            <img src="categories/analytics.jpg"   alt="">
                            <% } else if(challenges.Category == 'C') { %>
                            <img  src="categories/business.jpg"   alt="">
                            <% } else if(challenges.Category == 'D') { %>
                            <img  src="categories/sales.jpg"   alt="">
                            <% } else if(challenges.Category == 'E') { %>
                            <img  src="categories/communication.png" style="width:300px;height:300px; !important;"  alt="">
                            <% } else if(challenges.Category == 'F') { %>
                            <img  src="categories/web.jpg"  alt="">
                            <% } else if(challenges.Category == 'G') { %>
                            <img  src="categories/web.jpg"  alt="">
                            <% } else if(challenges.Category == 'H') { %>
                            <img  src="categories/business.jpg"   alt="">
                            <% } else if(challenges.Category == 'I') { %>
                            <img  src="categories/blockchain.jpg" alt="">
                            <% } %>
                        <div class="course-details padding30">
                            <h3 class="font18"><%= challenges.Name %></h3>
                            <p><%= challenges.Description %></p>
                            <p class="mt30"><a href="/dashboard" class="enroll-button">View Challenge Now</a> <span class="course-price"></span></p>
                        </div>
                    </div>
                </div>
                 <% }) %>
                
                </div>
            </div>
        </div>
    </section>
    <!--COURSE AREA END-->

    <!--ABOUT AREA-->
    <section class="section-padding about-area" id="about">
        <div class="container">
            <div class="row flex-v-center">
                <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                    <div class="about-content xs-mb50 wow fadeIn">
                        <h3 class="xs-font20 mb30">Education is the foundation upon which we build our future. Let's build it together.</h3>
                        <p>The system of education and learning adopted traditionally don't seem to be working for the people in this technical era where the world is more connected than ever imagined before in history. Slowly, the centralised systems of rewarding intelligence is becoming old-fashioned. Millenials and Professionals in this age need fast growth in their career and instant reward for their work. There is an alarming need to devise a unified system in this globally connected world which works fairly for all. Intelligence thriving around needs to be benchmarked and rewarded properly to create a better future for the students and professionals seeking to fasttrack their career in 21st century.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-md-offset-1 col-lg-offset-1 col-sm-12 col-xs-12">
                    <div class="video-promo-details wow fadeIn">
                        <div class="video-promo-content">
                            <span data-video-id="K7LryNh3n3g" class="video-area-popup mb30"><i class="fa fa-play"></i></span>
                        </div>
                        <img src="assests/img/about/about.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--ABOUT AREA END-->

    <!--TESTMONIAL AREA AREA-->
    <!-- <section class="testmonial-area bg-theme section-padding" id="testmonial">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>What Our Customer Say</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="testmonial-slider">
                        <div class="single-testmonial">
                            <div class="author-content mb20">
                                <p>“The recording starts with the patter of a summer squall. Later a drifting tone like that of a not-quite-tuned-in radio station rises and for a while drowns out the patter. These are the sounds encountered by NASA.”</p>
                            </div>
                            <div class="author-name-image relative">
                                <div class="author-img mb20">
                                    <img src="assests/img/testmonial/testmonial.jpg" alt="">
                                </div>
                                <h4>Harold Crouse</h4>
                                <a href="#">Sales manager</a>
                            </div>
                        </div>
                        <div class="single-testmonial">
                            <div class="author-content mb20">
                                <p>“The recording starts with the patter of a summer squall. Later a drifting tone like that of a not-quite-tuned-in radio station rises and for a while drowns out the patter. These are the sounds encountered by NASA.”</p>
                            </div>
                            <div class="author-name-image relative">
                                <div class="author-img mb20">
                                    <img src="assests/img/testmonial/testmonial.jpg" alt="">
                                </div>
                                <h4>Harold Crouse</h4>
                                <a href="#">Sales manager</a>
                            </div>
                        </div>
                        <div class="single-testmonial">
                            <div class="author-content mb20">
                                <p>“The recording starts with the patter of a summer squall. Later a drifting tone like that of a not-quite-tuned-in radio station rises and for a while drowns out the patter. These are the sounds encountered by NASA.”</p>
                            </div>
                            <div class="author-name-image relative">
                                <div class="author-img mb20">
                                    <img src="assests/img/testmonial/testmonial.jpg" alt="">
                                </div>
                                <h4>Harold Crouse</h4>
                                <a href="#">Sales manager</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--TESTMONIAL AREA AREA END-->

    <!--BLOG AREA-->
    <!-- <section class="blog-feed-area padding-top" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>From Our Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-blog-item sm-mb30 xs-mb30 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="blog-thumb">
                            <a href="/blogs/digital"><img src="assests/img/blog/blog-1.jpg" alt=""></a>
                        </div>
                        <div class="blog-details padding30">
                            <h3 class="blog-title font20 mb30"><a href="blog.html">Blazeon Scrambles to Police Content Amid Rapid Growth</a></h3>
                            <p class="blog-meta font14 mt20"><a href="#">Feb 01, 2016  </a> by <a href="#">Mark Stonis</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-blog-item sm-mb30 xs-mb30 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="blog-thumb">
                            <a href="/blogs/design"><img src="assests/img/blog/blog-2.jpg" alt=""></a>
                        </div>
                        <div class="blog-details padding30">
                            <h3 class="blog-title font20 mb30"><a href="blog.html">Blazeon Scrambles to Police Content Amid Rapid Growth</a></h3>
                            <p class="blog-meta font14 mt20"><a href="#">Feb 01, 2016  </a> by <a href="#">Mark Stonis</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-blog-item sm-mb30 xs-mb30 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="blog-thumb">
                            <a href="/blogs/sales"><img src="assests/img/blog/blog-3.jpg" alt=""></a>
                        </div>
                        <div class="blog-details padding30">
                            <h3 class="blog-title font20 mb30"><a href="blog.html">Blazeon Scrambles to Police Content Amid Rapid Growth</a></h3>
                            <p class="blog-meta font14 mt20"><a href="#">Feb 01, 2016  </a> by <a href="#">Mark Stonis</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-blog-item wow fadeInUp visible-sm" data-wow-delay="0.4s">
                        <div class="blog-thumb">
                            <a href="blog.html"><img src="assests/img/blog/blog-1.jpg" alt=""></a>
                        </div>
                        <div class="blog-details padding30">
                            <h3 class="blog-title font20 mb30"><a href="blog.html">Blazeon Scrambles to Police Content Amid Rapid Growth</a></h3>
                            <p class="blog-meta font14 mt20"><a href="#">Feb 01, 2016  </a> by <a href="#">Mark Stonis</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--BLOG AREA END-->


    <!--FAQS AREA-->
    <section class="faqs-area padding-100-50" id="faqs">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>FAQS</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb50 wow fadeInUp" data-wow-delay="0.1s">
                        <h3 class="box-title">1.Guidelines for submitting your bounty program on Bountybadges?</h3>
                        <p>1. Set up an accurate description of your bounty , your expectations and how hunters must submit their work.</p>
                            <p>2. Hosts must be instructed to submit work through the platform. Not through external spreadsheets or links.</p>
                            <p>3. Don't ask them to submit their bounty through an external gdocs/form /link!</p>
                            <p>4. For telegram and facebook , just ask them to provide their ID , in the submission link ( there is a submission link at the end of each bounty form for the hunters </p>
                            <p>5. Bounties displayed on Bountybadges are set up with a fixed reward and not in stakes. Set up an accurate reward and a clear time frame. Thanks !</p>
                            
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb50 wow fadeInUp" data-wow-delay="0.2s">
                        <h3 class="box-title">2.What type of Bounties can I offer on Bountybadges ??</h3>
                        <p>Thank you for your interest in holding a bounty campaign on Bountybadges. Please see below for a non exhaustive list of bounties you can offer on Bountybadges</p>
                            <p>Non Exhaustive List of Bounties</p><br>
                            <b>1.Promotional Social Media, Marketing:</b><br><br>
                            <b>2.Community Giveaway: Airdrop bounty hunters</b><br><br>
                            <b>3.Software Development / Technical Bounties:</b><br><br>
                            <b>4.Business Development:</b><br>                           
                  </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb50 wow fadeInUp" data-wow-delay="0.3s">
                        <h3 class="box-title">3.How do I decide how much to reward a bounty submission??</h3>
                        <p>Approved bounty submissions receive a fixed amount in ETH or ERC-20 tokens. This amount needs to be decided by the Bounty Host when a new bounty is posted.

                            Every bounty type (Twitter bounty, Articles bounty etc) usually has a different reward per submission since they have different complexity levels..</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb50 wow fadeInUp" data-wow-delay="0.1s">
                        <h3 class="box-title">4.How do I give great "work submission" instructions?</h3>
                        <p>There are two key factors in writing great "work submission" instructions:

                            Use clear and short sentences. Don't leave anything up to interpretation by the Bounty Hunter.
                           Keep the limitations of the platform in mind. Bounty Hunters send work by submitting a link and optionally a comment. For Twitter and FB bounties they can connect their profile automatically and don't have to submit anything. Please only provide instructions that can actually be fulfilled. Feel free to drop us an email at contact at daringmonks@gmail.com if you need assistance.
                            
                           
                           Sample instructions for an Articles bounty:
                           
                           Submit a link to your article in the "participate" button below.</p>
                    </div>
                </div>
                <!-- <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb50 wow fadeInUp" data-wow-delay="0.2s">
                        <h3 class="box-title">5.How do I hire a student?</h3>
                        <p>To be able to hire a student, you have to post a Trial Project + Job Offer or a Fast-track Offer. After this, students will apply for it and you will be able to preselect and select the ones that you prefer (you shall see each candidate’s profile) and test the candidates (only for Trial Project + Job Offer) before making your decision. It is up to you to select the candidate you finally want to hire. You are not obliged to hire the student but if you want to do so, you will need to commit to what you have published on your offer.</p>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!--FAQS AREA END-->

    <!--CONTACT US AREA-->
    <section class="contact-area sky-gray-bg" id="contact">
        <div class="container-fluid no-padding">
            <div class="row no-margin">
                <div class="no-padding col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="map-area relative">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.898557211365!2d77.21710411450793!3d28.542768682453307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce219d4000001%3A0x5d28ee0f5523ef49!2sEdumonk+Foundation!5e0!3m2!1sen!2sin!4v1528189183457" style="margin-left:50px;" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                        <!-- <div id="map" style="width: 100%; height: 600px;">
                        </div> -->
                    </div>
                </div>
                <div class="no-padding col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <div class="contact-form-content padding50 xs-padding20">
                        <div class="contact-title wow fadeIn">
                            <h3 class="font28 mb50 xs-mb30 xs-font22 xs-mt20">Any question in mind? Don’t Worry Contact Us.</h3>
                        </div>
                        <div class="contact-form wow fadeIn">
                            <form action="/enquiry"  method="POST">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                        <div class="form-group" id="name-field">
                                            <div class="form-input">
                                                <input type="text" class="form-control" id="form-name" name="Name" placeholder="Name.." required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                        <div class="form-group" id="email-field">
                                            <div class="form-input">
                                                <input type="email" class="form-control" id="form-email" name="Email" placeholder="Email.." required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <div class="form-group" id="phone-field">
                                            <div class="form-input">
                                                <input type="text" class="form-control" id="form-phone" name="Subject" placeholder="Subject..">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <div class="form-group" id="message-field">
                                            <div class="form-input">
                                                <textarea class="form-control" rows="6" id="form-message" name="Message" placeholder="Your Message Here..." required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <div class="form-group mb0">
                                            <input type="submit" class="btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--CONTACT US AREA END-->

    <!--CLIENT AREA-->
    <!-- <div class="client-area  padding-bottom mt100 sm-mt10 xs-mt0">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="client-slider">
                        <div class="single-client">
                            <img src="assests/img/client/client-6.png" alt="">
                        </div>
                        <div class="single-client">
                            <img src="assests/img/client/client-7.png" alt="">
                        </div>
                        <div class="single-client">
                            <img src="assests/img/client/client-8.png" alt="">
                        </div>
                        <div class="single-client">
                            <img src="assests/img/client/client-9.png" alt="">
                        </div>
                        <div class="single-client">
                            <img src="assests/img/client/client-10.png" alt="">
                        </div>
                        <div class="single-client">
                            <img src="assests/img/client/client-6.png" alt="">
                        </div>
                        <div class="single-client">
                            <img src="assests/img/client/client-7.png" alt="">
                        </div>
                        <div class="single-client">
                            <img src="assests/img/client/client-8.png" alt="">
                        </div>
                        <div class="single-client">
                            <img src="assests/img/client/client-9.png" alt="">
                        </div>
                        <div class="single-client">
                            <img src="assests/img/client/client-10.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!--CLIENT AREA END-->

    <!--ADDMISSION AREA-->
    <!-- <section class="admition-area padding-50-50 bg-theme">
        <div class="container">
            <div class="row flex-v-center">
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                    <div class="admition-content xs-center xs-mb30">
                        <h3 class="xs-font20">Addmission are now open</h3>
                        <p>Writers and stars of Veep have responded incredulously to the news an Australian politician required stitches after knocking himself unconscious .</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                    <div class="enroll-button right xs-center">
                        <a href="#">Enroll Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--ADDMISSION AREA END-->

    <!--FOOER AREA-->
    <footer class="footer-area sky-gray-bg relative">
        <!-- <div class="footer-top-area padding-80-80 bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                        <div class="single-footer footer-about sm-mb50 xs-mb50 sm-center xs-center">
                            <div class="footer-logo mb30">
                                <a href="#"><img src="assests/img/logo.png" alt=""></a>
                            </div>
                            <p>Saudi Arabia has been accused of using anti-terror laws to suppress free expression and failing to carry out independent inquiries into its Yemen.</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-4 col-xs-12">
                        <div class="single-footer footer-list white xs-center xs-mb50">
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Service</a></li>
                                <li><a href="#">Team</a></li>
                                <li><a href="#">Privicy Policy</a></li>
                                <li><a href="#">Testmonial</a></li>
                                <li><a href="#">Support</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-5 col-sm-8 col-xs-12">
                        <div class="single-footer footer-subscribe white xs-center">
                            <h3 class="mb30 xs-font18">Subscribe Our Newsletter</h3>
                            <p>Doubtful for answered one fat indulged margaret sir shutters together. Ladies so in wholly .</p>
                            <div class="subscriber-form-area mt50 wow fadeIn"> -->
                                <!--<form action="#" class="subscriber-form mb100">
                                    <input type="email" name="email" id="email" placeholder="Email Address">
                                    <button type="submit">Subscribe</button>
                                </form>-->
                                <!-- <form id="mc-form" class="subscriber-form">
                                    <label class="mt10" for="mc-email"></label>
                                    <input type="email" id="mc-email" placeholder="email@example.com">
                                    <button type="submit" class="plus-btn"><i class="fa fa-paper-plane-o"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="footer-bottom-area white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="footer-copyright text-center wow fadeIn">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Powered By Edumonk Foundation</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--FOOER AREA END-->


    <!--====== SCRIPTS JS ======-->
    <script src="assests/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="assests/js/vendor/bootstrap.min.js"></script>

    <!--====== PLUGINS JS ======-->
    <script src="assests/js/vendor/jquery.easing.1.3.js"></script>
    <script src="assests/js/vendor/jquery-migrate-1.2.1.min.js"></script>
    <script src="assests/js/vendor/jquery.appear.js"></script>
    <script src="assests/js/owl.carousel.min.js"></script>
    <script src="assests/js/stellar.js"></script>
    <script src="assests/js/waypoints.min.js"></script>
    <script src="assests/js/jquery.counterup.min.js"></script>
    <script src="assests/js/wow.min.js"></script>
    <script src="assests/js/jquery-modal-video.min.js"></script>
    <script src="assests/js/stellarnav.min.js"></script>
    <script src="assests/js/placeholdem.min.js"></script>
    <script src="assests/js/contact-form.js"></script>
    <script src="assests/js/jquery.ajaxchimp.js"></script>
    <script src="assests/js/jquery.sticky.js"></script>

    <!--===== ACTIVE JS=====-->
    <script src="assests/js/main.js"></script>

    <!--===== MAPS JS=====-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTS_KEDfHXYBslFTI_qPJIybDP3eceE-A&amp;sensor=false"></script>
    <script src="assests/js/maps.active.js"></script>
</body>


<!-- Mirrored from 5.189.146.92/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Jun 2018 07:27:04 GMT -->
</html>
