<div class="sidebar-container">
    <div class="sidemenu-container navbar-collapse collapse fixed-menu">
       <div id="remove-scroll">
           <ul class="sidemenu  page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
               <li class="sidebar-toggler-wrapper hide">
                   <div class="sidebar-toggler">
                       <span></span>
                   </div>
               </li>
               <li class="sidebar-user-panel">
                   <div class="user-panel">
                       <div class="pull-left image">
                           <img src=".<%= Student.ProfileImage %>" class="img-circle user-img-circle" alt="User Image" />
                       </div>
                       <div class="pull-left info">
                           <p><%= Student.Name %></p>
                       </div>
                   </div>
               </li>
               <li class="nav-item start active open">
                   <a href="/home">
                       <i class="material-icons">dashboard</i>
                       <span class="title">Dashboard</span>
                       <span class="selected"></span>
                   </a>
               </li>
               <li class="nav-item">
                    <a href="/startups">
                        <i class="material-icons">assessment</i>
                        <span class="title">Startups</span>
                        <span class="selected"></span>
                    </a>
                </li>
               <!-- <li class="nav-item">
                   <a href="/career" class="nav-link nav-toggle"> <i class="material-icons">book</i>
                       <span class="title">Career Streams</span> 
                   </a>
               </li>
               <li class="nav-item">
                <a href="/exams" class="nav-link nav-toggle"> <i class="material-icons">note</i>
                    <span class="title">Exams</span> 
                </a>
            </li>
            <li class="nav-item">
                <a href="/scholarship" class="nav-link nav-toggle"> <i class="material-icons">note</i>
                    <span class="title">Scholarships</span> 
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link nav-toggle"> <i class="material-icons">school</i>
                    <span class="title">Courses</span> <span class="arrow"></span>
                    <span class="label label-rouded label-menu label-success">new</span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="/allcourses" class="nav-link "> <span class="title">All Courses</span>
                        </a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a href="add_course.html" class="nav-link "> <span class="title">Add Course</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="add_course_bootstrap.html" class="nav-link "> <span class="title">Add Course Bootstrap</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="edit_course.html" class="nav-link "> <span class="title">Edit Course</span>
                        </a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a href="/aboutcourse" class="nav-link "> <span class="title">About Course</span>
                        </a>
                    </li>
                </ul>
            </li> -->
            <li class="nav-item">
                    <!-- <a href="#" class="nav-link nav-toggle"> <i class="material-icons">person</i>
                        <span class="title">Professors</span> <span class="arrow"></span>
                    </a> -->
                    <!-- <ul class="sub-menu">
                        <li class="nav-item">
                            <a href="/allpro" class="nav-link "> <span class="title">All Professors</span>
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="add_professor.html" class="nav-link "> <span class="title">Add Professor</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="add_professor_bootstrap.html" class="nav-link "> <span class="title">Add Professor Bootstrap</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="edit_professor.html" class="nav-link "> <span class="title">Edit Professor</span>
                            </a>
                        </li> -->
                        <!-- <li class="nav-item">
                            <a href="/aboutpro" class="nav-link "> <span class="title">About Professor</span>
                            </a>
                        </li>
                    </ul> --> 
                </li>
            <li class="nav-item">
                    <!-- <a href="#" class="nav-link nav-toggle"> <i class="material-icons">note</i>
                        <span class="title">Lessons</span> <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item">
                            <a href="/createlession" class="nav-link "> <span class="title">Create A Lesson</span>
                            </a>
                        </li>
                        <li class="nav-item">
                                <a href="/mylession" class="nav-link "> <span class="title">My Lessons</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                    <a href="/alllession" class="nav-link "> <span class="title">All Lessons</span>
                                    </a>
                                </li>

                        <li class="nav-item">
                            <a href="add_professor.html" class="nav-link "> <span class="title">Add Professor</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="add_professor_bootstrap.html" class="nav-link "> <span class="title">Add Professor Bootstrap</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="edit_professor.html" class="nav-link "> <span class="title">Edit Professor</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/recentlession" class="nav-link "> <span class="title">Recent Lession</span>
                            </a>
                        </li>
                    </ul> -->
                </li>
            
            <li class="nav-item">
                <a href="#" class="nav-link nav-toggle"> <i class="material-icons">code</i>
                    <span class="title">Bounty Badges</span> <span class="arrow"></span>
                    <span class="label label-rouded label-menu label-success">new</span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="/createchallenge" class="nav-link "> <span class="title">Create A Badge</span>
                        </a>
                    </li>
                    <li class="nav-item">
                            <a href="/mychallenges" class="nav-link "> <span class="title">My Badges</span>
                            </a>
                        </li>
                        <li class="nav-item">
                                <a href="/allchallenges" class="nav-link "> <span class="title">All Badges</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/submittedchallenge" class="nav-link "> <span class="title">Submitted By Others</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/participatedchallenge" class="nav-link "> <span class="title">Participations</span>
                                </a>
                            </li>
                    <!-- <li class="nav-item">
                        <a href="add_course.html" class="nav-link "> <span class="title">Add Course</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="add_course_bootstrap.html" class="nav-link "> <span class="title">Add Course Bootstrap</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="edit_course.html" class="nav-link "> <span class="title">Edit Course</span>
                        </a>
                    </li> -->
                </ul>
            </li>
               
            <li class="nav-item">
                    <!-- <a href="#" class="nav-link nav-toggle"> <i class="material-icons">launch</i>
                        <span class="title">Learning Circles</span> <span class="arrow"></span>
                        <span class="label label-rouded label-menu label-success">new</span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item">
                            <a href="/createcircle" class="nav-link "> <span class="title">Create A Learning Cirlcle</span>
                            </a>
                        </li>
                        <li class="nav-item">
                                <a href="/mycircle" class="nav-link "> <span class="title">My Learning Circle</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                    <a href="/allcircle" class="nav-link "> <span class="title">All Learning Circle</span>
                                    </a>
                                </li>
                        <li class="nav-item">
                            <a href="add_course.html" class="nav-link "> <span class="title">Add Course</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="add_course_bootstrap.html" class="nav-link "> <span class="title">Add Course Bootstrap</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="edit_course.html" class="nav-link "> <span class="title">Edit Course</span>
                            </a>
                        </li> 
                         <li class="nav-item">
                            <a href="recentchallenges" class="nav-link "> <span class="title">Recent Challenges</span>
                            </a>
                        </li>
                    </ul> -->
                </li>
                <li class="nav-item">
                        <a href="#" class="nav-link nav-toggle"> <i class="material-icons">launch</i>
                            <span class="title">Submissions</span> <span class="arrow"></span>
                            <span class="label label-rouded label-menu label-success">new</span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a href="/submit" class="nav-link "> <span class="title">Submit a Badge</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                    <a href="/mysubmission" class="nav-link "> <span class="title">My Submissions</span>
                                    </a>
                                </li>
                               
                                   
                            <!-- <li class="nav-item">
                                <a href="add_course.html" class="nav-link "> <span class="title">Add Course</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="add_course_bootstrap.html" class="nav-link "> <span class="title">Add Course Bootstrap</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="edit_course.html" class="nav-link "> <span class="title">Edit Course</span>
                                </a>
                            </li> -->
                            <!-- <li class="nav-item">
                                <a href="recentchallenges" class="nav-link "> <span class="title">Recent Challenges</span>
                                </a>
                            </li> -->
                        </ul>
                    </li>
               <!-- <li class="nav-item">
                   <a href="#" class="nav-link nav-toggle"><i class="material-icons">group</i>
                   <span class="title">Students</span><span class="arrow"></span></a>
                   <ul class="sub-menu">
                       <li class="nav-item">
                           <a href="all_students.html" class="nav-link "> <span class="title">All Students</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="add_student.html" class="nav-link "> <span class="title">Add Student</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="add_student_bootstrap.html" class="nav-link "> <span class="title">Add Student Bootstrap</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="edit_student.html" class="nav-link "> <span class="title">Edit Student</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="student_profile.html" class="nav-link "> <span class="title">About Student</span>
                           </a>
                       </li>
                   </ul>
               </li> -->
               
               <li class="nav-item">
                   <a href="/credits" class="nav-link nav-toggle"> <i class="material-icons">attach_money</i>
                       <span class="title">Scholar Credits</span> <span class="arrow"></span>
                   </a>
                   <!-- <ul class="sub-menu">
                       <li class="nav-item">
                           <a href="all_assets.html" class="nav-link "> <span class="title">All Library Assets</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="add_library.html" class="nav-link "> <span class="title">Add Library Asset</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="add_library_bootstrap.html" class="nav-link "> <span class="title">Add Asset Bootstrap</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="edit_library.html" class="nav-link "> <span class="title">Edit Asset</span>
                           </a>
                       </li>
                   </ul> -->
               </li>
               <li class="nav-item">
                    <a href="/account" class="nav-link nav-toggle"> <i class="material-icons">settings</i>
                        <span class="title">My Account</span> <span class="arrow"></span>
                    </a>
                    </li>
               <li class="nav-item">
                   <!-- <a href="#" class="nav-link nav-toggle"> <i class="material-icons">business</i>
                       <span class="title">LeaderBoard</span> <span class="arrow"></span>
                   </a>
                   <ul class="sub-menu">
                       <li class="nav-item">
                           <a href="all_department.html" class="nav-link "> <span class="title">All Departments</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="add_department.html" class="nav-link "> <span class="title">Add Department</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="add_department_bootstrap.html" class="nav-link "> <span class="title">Add Department Bootstrap</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="edit_department.html" class="nav-link "> <span class="title">Edit Department</span>
                           </a>
                       </li>
                   </ul> -->
               </li>
               <li class="nav-item">
                            <!-- <a href="/idcardform" class="nav-link nav-toggle" > <i class="material-icons">card_membership</i>
                                <span class="title">IDCard</span> <span class="arrow"></span>
                            </a> -->
                            <a href="#" class="nav-link nav-toggle"> <i class="material-icons">card_membership</i>
                                <span class="title">IDCard</span> <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                    <li class="nav-item">
                                        <a href="/idcardform" class="nav-link "> <span class="title">Show IDCard</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                            <a href="/updatecard" class="nav-link "> <span class="title">Update IDCard</span>
                                            </a>
                                        </li>
                                        </ul>
                   <!-- <a href="#" class="nav-link nav-toggle"> <i class="material-icons">call</i>
                       <span class="title">Schedule Call</span> <span class="arrow"></span>
                   </a>
                   <ul class="sub-menu">
                       <li class="nav-item">
                           <a href="all_staffs.html" class="nav-link "> <span class="title">All Staff</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="add_staff.html" class="nav-link "> <span class="title">Add Staff</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="add_staff_bootstrap.html" class="nav-link "> <span class="title">Add Staff Bootstrap</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="edit_staff.html" class="nav-link "> <span class="title">Edit Staff</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="staff_profile.html" class="nav-link "> <span class="title">Staff Profile</span>
                           </a>
                       </li>
                   </ul> -->
               </li>
               <!-- <li class="nav-item">
                   <a href="#" class="nav-link nav-toggle"> <i class="material-icons">airline_seat_individual_suite</i>
                       <span class="title">Holiday</span> <span class="arrow"></span>
                   </a>
                   <ul class="sub-menu">
                       <li class="nav-item">
                           <a href="all_holidays.html" class="nav-link "> <span class="title">All Holiday</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="add_holiday.html" class="nav-link "> <span class="title">Add Holiday</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="add_holiday_bootstrap.html" class="nav-link "> <span class="title">Add Holiday Bootstrap</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="edit_holiday.html" class="nav-link "> <span class="title">Edit Holiday</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="holiday_calendar.html" class="nav-link "> <span class="title">Holiday Calendar</span>
                           </a>
                       </li>
                   </ul>
               </li>
               <li class="nav-item">
                   <a href="#" class="nav-link nav-toggle">
                       <i class="material-icons">email</i>
                       <span class="title">Email</span>
                       <span class="arrow"></span>
                       <span class="label label-rouded label-menu label-danger">new</span>
                   </a>
                   <ul class="sub-menu">
                       <li class="nav-item">
                           <a href="email_inbox.html" class="nav-link ">
                               <span class="title">Inbox</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="email_view.html" class="nav-link ">
                               <span class="title">View Mail</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="email_compose.html" class="nav-link ">
                               <span class="title">Compose Mail</span>
                           </a>
                       </li>
                   </ul>
               </li>
               <li class="nav-item">
                   <a href="#" class="nav-link nav-toggle"> <i class="material-icons">monetization_on</i>
                       <span class="title">Fees</span> <span class="arrow"></span>
                   </a>
                   <ul class="sub-menu">
                       <li class="nav-item">
                           <a href="fees_collection.html" class="nav-link "> <span class="title">Fees Collection</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="add_fees.html" class="nav-link "> <span class="title">Add Fees </span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="add_fees_bootstrap.html" class="nav-link "> <span class="title">Add Fees Bootstrap</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="fees_receipt.html" class="nav-link "> <span class="title">Fee Receipt</span>
                           </a>
                       </li>
                   </ul>
               </li>
               <li class="nav-item">
                   <a href="widget.html" class="nav-link nav-toggle"> <i class="material-icons">widgets</i>
                       <span class="title">Widget</span> 
                   </a>
               </li>
               <li class="nav-item">
                   <a href="#" class="nav-link nav-toggle">
                       <i class="material-icons">dvr</i>
                       <span class="title">UI Elements</span> 
                       <span class="label label-rouded label-menu label-warning">new</span>
                       <span class="arrow"></span>
                   </a>
                   <ul class="sub-menu">
                       <li class="nav-item">
                           <a href="ui_buttons.html" class="nav-link ">
                               <span class="title">Buttons</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="ui_tabs_accordions_navs.html" class="nav-link ">
                               <span class="title">Tabs &amp; Accordions</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="ui_typography.html" class="nav-link ">
                               <span class="title">Typography</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="notification.html" class="nav-link ">
                               <span class="title">Notification</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="ui_icons.html" class="nav-link ">
                               <span class="title">Icons</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="ui_panels.html" class="nav-link ">
                               <span class="title">Panels</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="ui_grid.html" class="nav-link ">
                               <span class="title">Grids</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="calendar.html" class="nav-link ">
                               <span class="title">Calender</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="ui_tree.html" class="nav-link ">
                               <span class="title">Tree View</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="ui_carousel.html" class="nav-link ">
                               <span class="title">Carousel</span>
                           </a>
                       </li>
                   </ul>
               </li>
               <li class="nav-item">
                   <a href="#" class="nav-link nav-toggle">
                       <i class="material-icons">store</i>
                       <span class="title">Material Elements</span> 
                       <span class="arrow"></span>
                   </a>
                   <ul class="sub-menu">
                       <li class="nav-item">
                           <a href="material_button.html" class="nav-link ">
                               <span class="title">Buttons</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="material_tab.html" class="nav-link ">
                               <span class="title">Tabs</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="material_chips.html" class="nav-link ">
                               <span class="title">Chips</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="material_grid.html" class="nav-link ">
                               <span class="title">Grid</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="material_icons.html" class="nav-link ">
                               <span class="title">Icon</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="material_form.html" class="nav-link ">
                               <span class="title">Form</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="material_datepicker.html" class="nav-link ">
                               <span class="title">DatePicker</span>
           Experience                </a>
           Experience            </li>
           Experience            <li class="nav-item">
           Experience                <a href="material_select.html" class="nav-link ">
           Experience                    <span class="title">Select Item</span>
           Experience                </a>
           Experience            </li>
           Experience            <li class="nav-item">
           Experience                <a href="material_loading.html" class="nav-link ">
           Experience                    <span class="title">Loading</span>
           Experience                </a>
                       </li>
                       <li class="nav-item">
                           <a href="material_menu.html" class="nav-link ">
                               <span class="title">Menu</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="material_slider.html" class="nav-link ">
                               <span class="title">Slider</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="material_tables.html" class="nav-link ">
                               <span class="title">Tables</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="material_toggle.html" class="nav-link ">
                               <span class="title">Toggle</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="material_badges.html" class="nav-link ">
                               <span class="title">Badges</span>
                           </a>
                       </li>
                   </ul>
               </li>
               <li class="nav-item">
                   <a href="javascript:;" class="nav-link nav-toggle">
                       <i class="material-icons">subtitles</i>
                       <span class="title">Forms </span>
                       <span class="arrow"></span>
                   </a>
                   <ul class="sub-menu">
                       <li class="nav-item">
                           <a href="layouts_form.html" class="nav-link ">
                               <span class="title">Form Layout</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="advance_form.html" class="nav-link ">
                               <span class="title">Advance Component</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="wizard.html" class="nav-link ">
                               <span class="title">Form Wizard</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="validation_form.html" class="nav-link ">
                               <span class="title">Form Validation</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="editable_form.html" class="nav-link ">
                               <span class="title">Editor</span>
                           </a>
                       </li>
                   </ul>
               </li>
               <li class="nav-item">
                   <a href="javascript:;" class="nav-link nav-toggle">
                       <i class="material-icons">list</i>
                       <span class="title">Data Tables</span>
                       <span class="arrow"></span>
                   </a>
                   <ul class="sub-menu">
                       <li class="nav-item">
                           <a href="basic_table.html" class="nav-link ">
                               <span class="title">Basic Tables</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="advanced_table.html" class="nav-link ">
                               <span class="title">Advance Tables</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="group_table.html" class="nav-link ">
                               <span class="title">Grouping</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="tableData.html" class="nav-link ">
                               <span class="title">Tables With Sourced Data</span>
                           </a>
                       </li>
                   </ul>
               </li>
               <li class="nav-item">
                   <a href="#" class="nav-link nav-toggle"> <i class="material-icons">desktop_mac</i>
                       <span class="title">Layout</span> <span class="arrow"></span>
                   </a>
                   <ul class="sub-menu">
                       <li class="nav-item">
                           <a href="layout_boxed.html" class="nav-link "> <span class="title">Boxed</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="layout_full_width.html" class="nav-link "> <span class="title">Full Width</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="layout_collapse.html" class="nav-link "> <span class="title">Collapse Menu</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="layout_right_sidebar.html" class="nav-link "> <span class="title">Right Sidebar</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="layout_sidebar_hover_menu.html" class="nav-link "> <span class="title">Hover Sidebar Menu</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="layout_mega_menu.html" class="nav-link "> <span class="title">Mega Menu</span>
                           </a>
                       </li>
                   </ul>
               </li>
               <li class="nav-item">
                   <a href="javascript:;" class="nav-link nav-toggle">
                       <i class="material-icons">timeline</i>
                       <span class="title">Charts</span>
                       <span class="arrow"></span>
                   </a>
                   <ul class="sub-menu">
                       <li class="nav-item">
                           <a href="charts_echarts.html" class="nav-link ">
                               <span class="title">eCharts</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="charts_morris.html" class="nav-link ">
                               <span class="title">Morris Charts</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="charts_chartjs.html" class="nav-link ">
                               <span class="title">Chartjs</span>
                           </a>
                       </li>
                   </ul>
               </li>
               <li class="nav-item">
                   <a href="javascript:;" class="nav-link nav-toggle">
                       <i class="material-icons">map</i>
                       <span class="title">Maps</span>
                       <span class="arrow"></span>
                   </a>
                   <ul class="sub-menu">
                       <li class="nav-item">
                           <a href="google_maps.html" class="nav-link ">
                               <span class="title">Google Maps</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="vector_maps.html" class="nav-link ">
                               <span class="title">Vector Maps</span>
                           </a>
                       </li>
                   </ul>
               </li>
               <li class="nav-item">
                   <a href="javascript:;" class="nav-link nav-toggle"> <i class="material-icons">description</i>
                   <span class="title">Extra pages</span> 
                   <span class="arrow"></span>
                   </a>
                   <ul class="sub-menu">
                       <li class="nav-item">
                           <a href="login.html" class="nav-link "> <span class="title">Login</span>
                           </a>
                       </li>
                       <li class="nav-item"><a href="user_profile.html" class="nav-link "><span
                               class="title">Profile</span>
                       </a>
                       </li>
                       <li class="nav-item">
                           <a href="contact.html" class="nav-link "> <span class="title">Contact Us</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="lock_screen.html" class="nav-link "> <span class="title">Lock Screen</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="page-404.html" class="nav-link "> <span class="title">404 Page</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="page-500.html" class="nav-link "> <span class="title">500 Page</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="blank_page.html" class="nav-link "> <span class="title">Blank Page</span>
                           </a>
                       </li>
                   </ul>
               </li>
               <li class="nav-item">
                   <a href="javascript:;" class="nav-link nav-toggle">
                       <i class="material-icons">slideshow</i>
                       <span class="title">Multi Level Menu</span>
                       <span class="arrow "></span>
                   </a>
                   <ul class="sub-menu">
                       <li class="nav-item">
                           <a href="javascript:;" class="nav-link nav-toggle">
                               <i class="fa fa-university"></i> Item 1
                               <span class="arrow"></span>
                           </a>
                           <ul class="sub-menu">
                               <li class="nav-item">
                                   <a href="javascript:;" class="nav-link nav-toggle">
                                       <i class="fa fa-bell-o"></i> Arrow Toggle
                                       <span class="arrow "></span>
                                   </a>
                                   <ul class="sub-menu">
                                       <li class="nav-item">
                                           <a href="javascript:;" class="nav-link">
                                               <i class="fa fa-calculator"></i> Sample Link 1</a>
                                       </li>
                                       <li class="nav-item">
                                           <a href="#" class="nav-link">
                                               <i class="fa fa-clone"></i> Sample Link 2</a>
                                       </li>
                                       <li class="nav-item">
                                           <a href="#" class="nav-link">
                                               <i class="fa fa-cogs"></i> Sample Link 3</a>
                                       </li>
                                   </ul>
                               </li>
                               <li class="nav-item">
                                   <a href="#" class="nav-link">
                                       <i class="fa fa-file-pdf-o"></i> Sample Link 1</a>
                               </li>
                               <li class="nav-item">
                                   <a href="#" class="nav-link">
                                       <i class="fa fa-rss"></i> Sample Link 2</a>
                               </li>
                               <li class="nav-item">
                                   <a href="#" class="nav-link">
                                       <i class="fa fa-hdd-o"></i> Sample Link 3</a>
                               </li>
                           </ul>
                       </li>
                       <li class="nav-item">
                           <a href="javascript:;" class="nav-link nav-toggle">
                               <i class="fa fa-gavel"></i> Arrow Toggle
                               <span class="arrow"></span>
                           </a>
                           <ul class="sub-menu">
                               <li class="nav-item">
                                   <a href="#" class="nav-link">
                                       <i class="fa fa-paper-plane"></i> Sample Link 1</a>
                               </li>
                               <li class="nav-item">
                                   <a href="#" class="nav-link">
                                       <i class="fa fa-power-off"></i> Sample Link 1</a>
                               </li>
                               <li class="nav-item">
                                   <a href="#" class="nav-link">
                                       <i class="fa fa-recycle"></i> Sample Link 1
                                    </a>
                               </li>
                           </ul>
                       </li>
                       <li class="nav-item">
                           <a href="#" class="nav-link">
                               <i class="fa fa-volume-up"></i> Item 3 </a>
                       </li>
                   </ul>
               </li> -->
           </ul>
       </div>
   </div>
</div>