<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/images/logo.png" /> 
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Edumonk</title>
</head>
<body>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" >
            <h1 style="text-align: center">Reset Your Password</h1>
    <form action="/changepass" method="POST">
        <input type="password" id="new" name="New" class="form-control" placeholder="Enter New Password" required><br>
        <input type="password" id="cnew" name="CNew" class="form-control" placeholder="Confirm New Password" required>
        <small id="small"  style="color:red;">Password Does Not Match</small>
        <br>
        <input type="password" name="Email" value="<%= Email %>" style="display:none" >
        <input type="submit" id="submit"  class="btn btn-primary" value="Change">
    </form>
</div>
   </div>
   <script>
   $(document).ready(function(){
      $('#cnew').keyup(function(){
          var password = $('#new').val();
          var cpassword = $('#cnew').val();
          if(password != cpassword){
              $('#submit').css('display','none');
              $('#small').css('display','block');
          }
          else{
            $('#submit').css('display','block');
            $('#small').css('display','none');
          }
      });
   });
   </script>
</body>
</html>